<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/css/styles.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <title>Gestión de Árboles</title>
</head>
<body>
    <h1>Gestión de Árboles</h1>

    <!-- Formulario para crear un nuevo árbol -->
    <h2>Crear Nuevo Árbol</h2>
    <form th:action="@{/crear_arbol}" method="POST">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br>
        <label for="especie">Especie:</label>
        <input type="text" id="especie" name="especie" required><br>
        <label for="imagen">Imagen URL:</label>
        <input type="text" id="imagen" name="imagen" required><br>
        <button type="submit">Crear Árbol</button>
    </form>

    <!-- Lista de árboles -->
    <h2>Listado de Árboles</h2>
    <ul id="lista-arboles">
        <!-- Los árboles se cargarán dinámicamente aquí -->
        <li th:each="arbol : ${arboles}" th:text="${'Nombre: ' + arbol.nombre + ', Especie: ' + arbol.especie}"></li>
    </ul>

    <!-- Scripts adicionales -->
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
